.cont-signup {
    margin: auto;
    margin-top: 2rem;
    border: 1px solid lightgray;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* max-width: 50%; */
    width: 80%;
}

.cont-signup form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    width: 80%;
}

.cont-signup form input {
    border: transparent;
    width: 80%;
    margin: 8px 0;
    padding: 0.5rem;
    border-radius: 8px;
}

.cont-signup form button {
    width: 80%;
    border-radius: 7px;
    padding: 0.5rem;
    border: transparent;
    background-color: lightgreen;
    color: blue;
    font-size: 110%;
    font-weight: bold;
    margin: 1rem 0;
}

.cont-signup form button:hover {
    background-color: lightblue;
    color: darkgreen;
    box-shadow: 0 0 1px 1px lightgreen;
}

.signup-message {
    margin: 1rem 0;
    width: 80%;
    padding: 1rem;
    background-color: lightcoral;
    color: darkred;
    border-radius: 8px;
    text-align: center;
}

@media screen and (min-width: 800px) {
    .cont-signup {
        width: 50%;
    }

    form {
        width: 75%;
    }
}

@media screen and (min-width: 1000px) {
    form, .cont-signup {
        width: 30%;
    }
}